@use "../abstracts/variables" as *;

.person__period button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;
  cursor: pointer;
  color: $desaturated-blue;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.1;

  transition: color 250ms ease-in;

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }

  &:hover,
  &:active {
    color: $white;
  }

  &:focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0 0 0 4px scale-color($blue, $lightness: -40%);
  }

  &.selected {
    color: $white;
  }
}
